/*#362417, #92817a, #f1dabf, #fffbff, #04030f*/
html {
  height: 100%;
}

body {
  font-family: "Arial Narrow Bold", sans-serif;
  height: 100%;
  margin: 0;
  background-color: #f1dabf;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.header {
  display: flex;
  flex: 0 0 auto;
  height: 110px;
  background-color: #362417;
  color: #fffbff;
  font-size: 64px;
  align-items: center;
  padding-left: 16px;
  border-bottom: black none 8px;
}

.content {
  display: flex;
  flex-grow: 1;
}

.nav {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  width: 250px;
  background-color: #92817a;
  padding: 24px;
  border-right: black none 8px;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.nav-btn {
  font-family: "Arial Narrow Bold", sans-serif;
  text-align: start;
  font-size: larger;
  height: 32px;
  border: none;
  border-radius: 8px;
  border-bottom: solid #362417 1px;
  background-color: #92817a;
}

.nav-btn.project-btn {
  border-bottom: none;
  width: 100%;
}

.nav-btn:hover {
  transition: 0.05s;
  background-color: #796b66;
  border-bottom: solid #362417 5px;
}

.nav-btn:active {
  background-color: #5d5350;
}

.project-group {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.Title {
  font-size: 24px;
  font-weight: bolder;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
}

.project-view {
  display: flex;
  flex: 1;
  padding: 64px;
  justify-content: center;
}

.project-base {
  font-family: "Arial Narrow Bold", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #92817a;
  width: 900px;
  height: min-content;
  min-height: 500px;
  flex-shrink: 0;
  padding: 24px 42px;
  border-radius: 32px;
  border: black solid 1px;
  justify-content: flex-start;
  align-items: flex-start;
}

h1 {
  margin: 0;
}

.project-header {
  width: 100%;
  border-bottom: black 4px solid;
  margin-bottom: 32px;
}

.task-list {
  align-self: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 95%;
}

.task {
  display: flex;
  width: 100%;
  max-height: 48px;
  height: 48px;
  align-items: center;
  justify-content: space-between;
  background-color: #796b66;
  padding: 0 8px;
  border-bottom: black solid 1px;
}

.task-side {
  display: flex;
  align-items: center;
}

.task-title {
  background-color: transparent;
  border: none;
}

.done-btn {
  margin: 0;
  width: 40px;
  height: 24px;
}

.remove-btn {
  margin: 0;
  width: 40px;
  height: 24px;
}

.add-container {
  width: 100%;
}

.task {
  width: 100%;
  height: 100px;
}

.taskList {
  margin-left: 64px;
}

.footer {
  display: flex;
  flex: 0 0 auto;
  font-size: 20px;
  background-color: #362417;
  height: 60px;
  color: #fffbff;
  align-items: center;
  justify-content: center;
  border-top: 8px none solid;
}
